.heading {
  text-align:center
}

.flex-container {
  display: grid;
  align-items: stretch;
  column-gap: 32px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 400px 1fr repeat(3, 400px);
  row-gap: 32px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container > div {
  border-radius: 4px;
  grid-column: span 2;
  overflow: hidden;
  position: relative;
}

.flex-container > div > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out 0s;
  backface-visibility: hidden;
}

.flex-container > div > img:hover {
  transform: scale(1.4);
}